.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 0;
}
.container-fluid {
  padding: 0;
}
.navBar-container-01 {
  background-color: #fff;
  border-bottom: 1px solid #e8ddff;
  position: fixed;
  z-index: 1000;
}
.navBar-container-02 {
  background-color: #fff;
  border-bottom: 1px solid #e8ddff;
  position: fixed;
  z-index: 1000;
}
.row {
  width: 100%;
}
.navbar-head {
  display: flex;
  justify-content: space-between;
}
.navbar-head a {
  text-decoration: none !important;
}
.brand {
  color: rgba(28, 14, 64, 255);
  font-weight: 700;
  font-size: 3.8rem;
  font-family: "Plus Jakarta Sans";
}
.navbar-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.navbar-newsletter h1 {
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
}
.navbar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: orange;
}
.nav-item {
  padding: 0.5rem;
}
.nav-item h1 {
  color: rgba(28, 14, 64, 255);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  font-family: "Plus Jakarta Sans";
}
.nav-item a {
  color: rgba(28, 14, 64, 255);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  font-family: "Plus Jakarta Sans";
}
/* ----------------------------------NewsBody------------------------------------ */
.newsBodyContainer {
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  margin-top: 10rem;
}
.newsBodyHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.newsBodyHead h1 {
  text-align: center;
  font-size: 2.25rem;
  color: #1c0e40;
}
.contactIcons {
  display: flex;
  padding-bottom: 1rem;
}
.contactIcons i {
  padding: 1rem;
  font-size: 1.1rem;
}
.newsBodyHead p {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.newsBodyCards {
  display: flex;
  column-gap: 1.8rem;
}
.newsBodyList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 32%;
}
.newsBodyList img {
  border-radius: 0.5rem;
}
.newsBodyList div {
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  border-radius: 3rem;
  background-color: #f6f2ff;
  color: #571af2;
  padding: 0.375rem 0.5rem;
  font-family: "Plus Jakarta Sans";
  width: fit-content;
}
.newsBodyList h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #1c0e40;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
.newsBodyList p {
  color: #615d66;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
/* ------------------------------------News Card--------------------------------- */
.newsCardsContainer {
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsCard {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.newsCard img {
  border-radius: 0.5rem;
}
.newsCard div {
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  border-radius: 3rem;
  background-color: #f6f2ff;
  color: #571af2;
  padding: 0.375rem 0.5rem;
  font-family: "Plus Jakarta Sans";
  width: fit-content;
}
.newsCard h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #1c0e40;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
.newsCard p {
  color: #615d66;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
/* ---------------------Footer--------------------------- */
.footer {
  border-top: 1px solid rgb(235, 235, 235);
}

.contactDet {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem 0 1.5rem 3rem;
}
.newsBtn {
  width: 18.75rem;
  padding: 1rem 1.5rem;
  color: #1c0e40;
  background-color: #fefcf9;
  border: solid 1px #1c0e40;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  font-family: "Plus Jakarta Sans";
  text-align: center;
  border-radius: 0.25rem;
}
.footerIcons {
  display: flex;
  column-gap: 2rem;
}
.navIcon {
  color: #1c0e40;
  font-size: 1.2rem;
}
.links {
  display: flex;
  column-gap: 6rem;
}
.noteDet {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 0.75rem;
  color: #615d66;
  text-align: center;
  padding: 2rem 0 2rem 0;
  margin: 0;
}
.copyrightDet {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  border-top: 1px solid rgb(226, 226, 226);
  margin: 0;
  padding: 1rem 0 1rem 0;
}
.footerlinks {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: red; */
}

.linksHead1 {
  list-style-type: none;
  /* display: flex;
  flex-wrap: wrap; */
}
.linksHead1 li {
  font-weight: 600;
  /* width: 50%; */
  font-size: 1rem;
  font-family: "Plus Jakarta Sans";
  padding: 0.5rem 0 0.5rem 0;
}
.linksHead2 {
  list-style-type: none;
}
.linksHead2 li {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Plus Jakarta Sans";
  padding: 0.5rem 0 0.5rem 0;
}
