.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.navBar-container {
  background-color: #fff;
  border-bottom: 1px solid #e8ddff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  max-width: 90rem;
  padding-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.brand {
  color: rgba(28, 14, 64, 255);
  font-weight: 800;
  font-size: 4rem;
  font-family: "Plus Jakarta Sans";
}
.brand:hover {
  cursor: pointer;
}
.navbar-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.navbar-newsletter h1 {
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
}
.navbar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: orange;
}
.navbar-tabs-wrapper {
  flex-grow: 0 !important;
}
.navbar-tabs {
  position: absolute;
  top: 5.5rem;
  left: 3.3rem;
}
.nav-item {
  padding: 0.5rem;
}

.nav-item a {
  color: rgba(28, 14, 64, 255);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.0625rem;
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
  padding-right: 0.3rem;
}
.nav-item a:hover {
  color: #571af2;
}
.menuBtn {
  padding: 0.8rem;
  border-radius: 30%;
}
.menuBtn:focus {
  background-color: #22066b;
  outline: none !important;
}
.menuBtn:focus .menuIcon i {
  color: white !important;
}
.menuIcon i {
  color: #1c0e40;
  font-size: 2rem;
}
/* -------------------------------------------Wellness Body-------------------- */
.wellnessContainer {
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  max-width: 90rem;
  margin-top: 10rem;
}
.wellnessHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.wellnessHead h1 {
  text-align: center;
  font-size: 2.8rem;
  color: #1c0e40;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}
.contactIcons {
  display: flex;
  padding-top: 1rem;
}
.contactIcons i {
  padding: 1rem;
  font-size: 1.1rem;
}
.wellnessHead p {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  font-family: "Plus Jakarta Sans";
}
.wellnessLinks {
  display: flex;
  justify-content: center;
}
.wellnessLinks ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.2rem;
  row-gap: 2.2rem;
  padding: 0;
  margin: 0;
  width: 89%;
}
.wellnessLinks li {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  font-family: "Plus Jakarta Sans";
  text-align: center;
}

/* -------------------------Supplements-------------------------- */
.innoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  max-width: 90rem;
}
.innoHead {
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
}
.innoCards {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
.innoList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 30%;
}
.innoList img {
  border-radius: 0.5rem;
}
.innoList div {
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  border-radius: 3rem;
  background-color: #f6f2ff;
  color: #571af2;
  padding: 0.375rem 0.5rem;
  font-family: "Plus Jakarta Sans";
  width: fit-content;
}
.innoList h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #1c0e40;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
.innoList p {
  color: #615d66;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
/* --------------------------------------Other Nutritions---------------------------- */
.strengthContainer {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  max-width: 90rem;
}
.strengthList {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 70%;
  padding: 1rem;
}
.strengthHead {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
}
.strengthCard {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  align-items: center;
  width: 100%;
}
.strengthCard img {
  border-radius: 0.3rem;
  width: 12rem;
}
.strengthDet {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 80%;
}
.strengthDet div {
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  border-radius: 3rem;
  background-color: #f6f2ff;
  color: #571af2;
  padding: 0.375rem 0.5rem;
  font-family: "Plus Jakarta Sans";
  width: fit-content;
}
.strengthDet h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #1c0e40;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
.strengthDet p {
  color: #615d66;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
/* -------------------------------------Explore Nutritions------------------------------ */
.expContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  max-width: 90rem;
}
.expHead {
  text-align: center;
  font-size: 1.375rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
}
.expCards {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
.expList {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 30%;
}
.expList img {
  border-radius: 0.5rem;
}
.expList div {
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  border-radius: 3rem;
  background-color: #f6f2ff;
  color: #571af2;
  padding: 0.375rem 0.5rem;
  font-family: "Plus Jakarta Sans";
  width: fit-content;
}
.expList h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #1c0e40;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
.expList p {
  color: #615d66;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
/* -------------------------------Nutritions Cards----------------------------- */
.ncContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
  margin: 0rem;
  width: 100%;
  max-width: 90rem;
}
.ncCard {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.ncCard img {
  border-radius: 0.5rem;
}
.ncCard div {
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  border-radius: 3rem;
  background-color: #f6f2ff;
  color: #571af2;
  padding: 0.375rem 0.5rem;
  font-family: "Plus Jakarta Sans";
  width: fit-content;
}
.ncCard h1 {
  font-weight: 600;
  font-size: 1.375rem;
  color: #1c0e40;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
.ncCard p {
  color: #615d66;
  font-weight: 500;
  font-size: 0.75rem;
  margin: 0;
  font-family: "Plus Jakarta Sans";
}
/* --------------------------------Footer----------------------------- */
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(235, 235, 235);
}
.footer {
  width: 100%;
  max-width: 90rem;
  margin: 0;
  justify-content: center;
}
.footer-brand {
  color: rgba(28, 14, 64, 255);
  font-weight: 800;
  font-size: 4rem;
  font-family: "Plus Jakarta Sans";
}

.contactDet {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem 0 1.5rem 3rem;
  width: 100%;
}
.newsBtn {
  width: 100%;
  max-width: 18.75rem;
  padding: 1rem 1.5rem;
  color: #1c0e40;
  background-color: #fefcf9;
  border: solid 1px #1c0e40;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  font-family: "Plus Jakarta Sans";
  text-align: center;
  border-radius: 0.25rem;
}
.footerIcons {
  display: flex;
  column-gap: 2rem;
}
.navIcon {
  color: #1c0e40;
  font-size: 1.2rem;
}
.links {
  display: flex;
  column-gap: 6rem;
}
.noteDet {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 0.75rem;
  color: #615d66;
  text-align: center;
  padding: 2rem 0 2rem 0;
  margin: 0;
}
.copyrightDet {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  border-top: 1px solid rgb(226, 226, 226);
  margin: 0;
  padding: 1rem 0 1rem 0;
}
.footerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.linksHead1 {
  list-style-type: none;
  /* display: flex;
  flex-wrap: wrap; */
}
.linksHead1 li {
  font-weight: 600;
  /* width: 50%; */
  font-size: 1rem;
  font-family: "Plus Jakarta Sans";
  padding: 0.5rem 0 0.5rem 0;
}
.linksHead2 {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
.linksHead2 li {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Plus Jakarta Sans";
  padding: 0.5rem 0 0.5rem 0;
}
/* ----------------------------------------responsiveness---------------------------------- */
@media (max-width: 1024px) {
  .tipsCards {
    flex-direction: column;
    align-items: center;
  }

  .tipsSubList {
    flex-direction: row;
    /* column-gap: 1rem; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
  }
  .subListCard {
    width: 47%;
  }
  .tipsHead {
    text-align: center;
  }
  .strengthList {
    width: 100%;
  }
  .subListDet h1 {
    font-size: 1rem;
  }
  .subListCard img {
    width: 6rem;
  }
  .innoCards {
    column-gap: 2rem;
  }
  .expCards {
    column-gap: 2rem;
  }
}
@media (max-width: 992px) {
  .navbar-newsletter {
    display: none;
  }
  .navbar-tabs {
    position: static !important;
  }
}
@media (max-width: 800px) {
  .tipsList {
    width: 100%;
  }
  .tipsSubList {
    flex-direction: column;
    align-items: center;
    column-gap: 1.5rem;
    flex-wrap: nowrap;
    width: 100%;
    padding: 3rem 0rem 1rem 0rem;
  }
  .subListCard {
    width: 100%;
  }

  .innoCards {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  .innoList {
    width: 100%;
    max-width: 45rem;
  }
  .expListCard {
    width: 100%;
  }
  .expCards {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
  .expList {
    width: 100%;
  }
  .contact {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .links {
    width: 50%;
    flex-direction: column;
  }
  .linksHead1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .linksHead1 li {
    width: 50%;
    text-align: center;
  }
  .linksHead2 li {
    text-align: center;
  }
  .contactDet {
    align-items: center;
    padding: 1.5rem 0 1.5rem 0rem;
  }
  .wellnessLinks ul {
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
  }
  .strengthCard img {
    width: 6rem;
  }
  .strengthDet h1 {
    font-size: 1rem;
  }
  .strengthList {
    padding: 0rem;
  }
}
@media (max-width: 550px) {
  .brand {
    font-size: 3rem !important;
    margin: 0;
  }

  .links {
    width: 100%;
    flex-direction: column;
  }
  .contactDet {
    padding: 1.5rem 0 1.5rem 0rem;
  }
  .wellnessContainer {
    padding: 0 1rem 3rem 1rem;
  }
  .tipsContainer {
    padding: 0 1rem 3rem 1rem;
  }
  .innoContainer {
    padding: 0 1rem 3rem 1rem;
  }
  .strengthContainer {
    padding: 0 1rem 3rem 1rem;
  }
  .expContainer {
    padding: 0 1rem 3rem 1rem;
  }
  .ncContainer {
    padding: 0 1rem 3rem 1rem;
  }
  .tipsList {
    width: 100%;
  }
}
